@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div>
    <div class="container text-center">
        <h1>BountyCraft Calculator</h1>
    </div>
        
    <div class="container">
        
        <div class="row">
            <div class="col">
                <div class="container mb-1 mt-1">
                    <div class="row">
                        <a class="btn" asp-area="" asp-page="/Inventory">
                            <div class="card w-100 mb-2 mt-2 btn-primary text-black dashboard-card">
                                <div class="card-body">
                                    <h2>Inventory</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="row">
                        <a class="btn"asp-area="" asp-page="/ItemDatabase">
                            <div class="card w-100 mb-2 mt-2 btn-primary text-black dashboard-card">
                                <div class="card-body">
                                    <h2>Item Database</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="row">
                        <a class="btn" asp-area="" asp-page="/Forms/CreateItem">
                            <div class="card w-100 mb-2 mt-2 btn-primary text-black dashboard-card">
                                <div class="card-body">
                                    <h2>Create Item</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container mb-1 mt-1">
                    <h3>Recent Updates:</h3>
                    <p>* Coming Soon! Still very early.</p>
                </div>
            </div>
        </div>        
    </div>
</div>