@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <div class="container text-left">
        <h1>Bounty Craft Calculator</h1>
    </div>
    <div class="col-12 mb-5 mt-5">
        <div class="row">
            <a class="btn col-4">
                <div class="card w-100 mb-2 mt-2 btn-primary text-black dashboard-card">
                    <div class="card-body">
                        <h2>Inventory</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="row">
            <a class="btn col-4">
                <div class="card w-100 mb-2 mt-2 btn-primary text-black dashboard-card">
                    <div class="card-body">
                        <h2>Item Database</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="row">
            <a class="btn col-4">
                <div class="card w-100 mb-2 mt-2 btn-primary text-black dashboard-card">
                    <div class="card-body">
                        <h2>Create Item</h2>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
